<ul class="home-social">
    {% if social_vk %}
        <li>
            <a href="{{ social_vk }}"><i class="im im-vk" aria-hidden="true"></i><span>VK</span></a>
        </li>
    {% endif %}
    {% if social_instagram %}
        <li>
            <a href="{{ social_instagram }}"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
        </li>
    {% endif %}
    {% if social_facebook %}
        <li>
            <a href="{{ social_facebook }}"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
        </li>
    {% endif %}
    {% if social_twitter %}
        <li>
            <a href="{{ social_twitter }}"><i class="im im-twitter" aria-hidden="true"></i><span>Twitter</span></a>
        </li>
    {% endif %}
    {% if social_google_plus %}
        <li>
            <a href="{{ social_google_plus }}"><i class="im im-google-plus" aria-hidden="true"></i><span>Google+</span></a>
        </li>
    {% endif %}
    {% if social_youtube %}
        <li>
            <a href="{{ social_youtube }}"><i class="im im-youtube" aria-hidden="true"></i><span>Youtube</span></a>
        </li>
    {% endif %}
    {% if social_whatsapp %}
        <li>
            <a href="{{ social_whatsapp }}"><i class="im im-whatsapp" aria-hidden="true"></i>
                <span>WhatsApp</span></a>
        </li>
    {% endif %}
</ul> <!-- end home-social -->